
header {

  .nav {
    height: 80px;
  }

  img.brand {
    height: 40px;
    max-height: none;
    padding-right: 20px;
  }
  .commentBox {
    border-color:#cccccc;
    border-style:solid;
    padding:30px;
    max-width: 100px;
    font-size:12px;
    background-color:#d6edd0;
    border-radius:0px;
    box-shadow: 5px 4px 12px 0px
    rgba(42,42,42,.17);
    border-width:0px;  }
      .css-input:focus { outline:none; }

}
