
#ontology-graph {
  height: 500px;
  svg {
    width: 100%;

    g.node {
      circle.circle {

        cursor: pointer;

        &.selected {
          stroke-width: 2px;
          stroke: black;
        }
      }
    }

    line.edge {
      stroke: black;
    }
  }
}
